/* Global Styles */
body,
button {
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

body {
    background: #f8f9fa;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 10px;
    color: #666;
    margin-top: 5px;
}

/* Grid Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 14px;
}

.grid-item img {
    max-width: 100%;
    display: block;
}

.item-content {
    padding: 10px;
    text-align: center;
}

.item-content h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.price-tag {
    color: #4caf50;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.price-number {
    color: red;
}

.item-id {
    color: #666;
    font-size: 12px;
    margin: 5px 0;
    word-wrap: break-word;
    padding: 5px;
}

.unit-price,
.quantity {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

/* Refresh Icon */
.refresh-icon {
    font-size: 24px;
    color: #FFC0CB;
    cursor: pointer;
    margin-left: 10px;
}

.refresh-icon:hover {
    color: #FF69B4;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: #FFC0CB;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
}

/* Social Links */
.footer-links {
    text-align: center;
}

.social-link {
    color: #FFC0CB;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.social-link:hover {
    color: #FF69B4;
}

/* Last Traded Price */
.latest-traded-price {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

/* Loading Message */
.loading-message {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: none;
}